
    table {
        width: 50%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        transition: 0.3s;
    }
    th {
        background-color: lightgray;
    }
    tr td:hover{
        background-color: brown;
    }